#input-button {
    cursor: pointer;
}
#input-array{
    padding: 25px;
    font-size: 0.8em;
    height: 30px;
    width: -webkit-fill-available;
}
.sort-bt{
    position: relative;
    top: 20px;
    padding: 20px;
    margin: 20px;
}